.account-main {
    height: 88.8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    background-color: white;
    font-family: Open Sans;
}

.account-main-box {
    height: 550px;
    width: 1000px;
    z-index: 80;
    position: absolute;
    padding: 40px;
}

.account-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    height: 100px;
    width: 100%;
}

.user-account-logout {
    font-size: large;
    font-family:'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    padding: 11px;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 620px;
}

.all-account-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
        "account-info address-info"
        "order-info payment-info";
        gap: 8em;
        border-left: 1px solid black;
}

.account-info {
    grid-area: account-info;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding-top: 30px;
   margin-bottom: 10px;
   
}

.order-info {
    grid-area: order-info;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.address-info {
    grid-area: address-info;
    margin-top: 10px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.payment-info {
    grid-area: payment-info;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}


.edit-btn {
    margin-left: 15px;
    margin-top: 5px;
    cursor: pointer;
}

@media (max-width: 1000px) {
    .account-main-box {
        width: 800px;
    }

    .user-account-logout {
        margin-left: 420px;
    }

  .payment-info h1, .account-info h1, .address-info h1, .order-info h1 {
    font-size: 25px;
  }

}

@media (max-width: 805px) {
    .account-main-box {
        width: 700px;
    }

    .user-account-logout {
        margin-left: 320px;
    }

  .payment-info h1, .account-info h1, .address-info h1, .order-info h1 {
    font-size: 20px;
  }

}

@media (max-width: 710px) {
    .account-main-box {
        width: 600px;
    }

    .user-account-logout {
        margin-left: 220px;
    }

  .payment-info h1, .account-info h1, .address-info h1, .order-info h1 {
    font-size: 20px;
  }

  .all-account-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    
  }

  .account-info {
    border-right: 1px solid black;
  }

}

@media (max-width: 610px) {
    .account-main-box {
        width: 400px;
    }

    .user-account-logout {
        margin-left: 20px;
    }

  .payment-info h1, .account-info h1, .address-info h1, .order-info h1 {
    font-size: 20px;
  }

  .all-account-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    
  }

}

@media (max-width: 410px) {

    .account-main {
        height: 900px;
    }

    .account-main-box {
        width: 320px;
        margin-bottom: 200px;
    }

    .user-account-logout {
        margin-left: 20px;
    }

  .payment-info h1, .account-info h1, .address-info h1, .order-info h1 {
    font-size: 20px;
  }

  .all-account-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    
  }

  .account-header {
   
   height: 200px;
   gap: 15px;
   flex-direction: column;
  }

}


@media (max-width: 320px) {

    .account-main {
        height: 100vh;
    }

    .account-main-box {
        width: 270px;
    }

    .user-account-logout {
        margin-left: 20px;
    }

  .payment-info h1, .account-info h1, .address-info h1, .order-info h1 {
    font-size: 15px;
  }

  .all-account-info {
    display: flex;
    flex-direction: column;
    gap: 0px;
    
  }

  .account-header {
   height: 200px;
   gap: 15px;
   flex-direction: column;
  }

}
