.edit-account-main {
    height: 88.8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
    background-color: white;
    font-family: Open Sans;
}

.edit-account-main-box { 
    height: 550px;
    z-index: 80;
    position: absolute;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit-email-form {
    display: flex;
    flex-direction: column;
}

.edit-save-cancel-btns {
 padding: 10px;
 display: flex;
 gap: 10px;
}

.email-edit {
    padding: 10px;
    width: 300px;
    border: 1px solid grey;
}

.cancel-edit-btn {
    padding: 10px;
    background-color: black;
    color: white;
    border: 1px solid black;
    width: 100px;
    cursor: pointer;
}

.edit-account-main-box h4 {
    padding-bottom: 10px;
}

.update-edit-btn {
    padding: 10px;
    background-color: white;
    border: 1px solid black;
    color: black;
    width: 100px;
    cursor: pointer;
}

.forgot-password-btn {
    padding: 10px;
    border: 1px solid black;
    background-color: black;
    color: white;
    margin-top: 20px;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

@media (max-width: 470px) {
    .edit-account-main-box h1 {
        font-size: 25px;
        width: 300px;
    }

    .edit-account-main-box {
        width: 300px;
    }
}

@media (max-width: 320px) {
    .edit-account-main-box h1 {
        font-size: 20px;
        width: 260px;
    }

    .edit-account-main-box {
        width: 270px;
    }

    .email-edit {
        width: 250px;
    }
}