.LoginScreen {
    width: 100vw;
    height: 100vh;
}

.main-account {
    height: 88.8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.main-box-container {
    background-color: white;
    height: 470px;
    width: 550px;
    z-index: 80;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.login-section {
    margin-top: 60px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.login-btn1 {
    width: 30%;
    height: 35px;
    text-align: center;
    border-bottom: 6px solid #000;
    color: black;
    cursor: default;
}

.login-btn2 {
    width: 30%;
    height: 35px;
    text-align: center;
    color: #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    cursor: pointer;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

.form-control {
    width: 100%;
}

.email {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    
}

.password {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    margin-bottom: 20px;
}

.forgot-password-container {
    margin-right: 50px;
}

.forgot-password {
    color: black;
    
}

.signin-btn {
    margin-top: 20px;
    margin-left: 150px;
    width: 61%;
    padding: 17px;
    margin-bottom: 25px;
    outline: none;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 700;
}

.signin-keepin {
    margin-left: 145px;
    display: flex;
}

.checkbox {
    font-size: 20px;
    background-color: black;
    transform: scale(1.4);
    border: 1px solid black;
}

.keep-signin {
    margin-left: 9px;
    font-family: Lato;
}

.login-error {
    margin-top: 11px;
}

.password-error-btns {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid red;
    margin-bottom: 20px;
}

.email-error-btns {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid red;
}