.RegisterScreen {
    width: 100vw;
    height: 100vh;
}

.main-account {
    height: 88.8vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    object-fit: contain;
    align-items: center;
    justify-content: center;
    z-index: 1;
    position: relative;
}

.main-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}

.main-box-container-register {
    background-color: white;
    height: 615px;
    width: 500px;
    z-index: 80;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


.register-section {
    margin-top: 60px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    margin-bottom: 25px;
}

.register-btn1 {
    width: 30%;
    height: 35px;
    text-align: center;
    color: #B0B0B0;
    border-bottom: 1px solid #B0B0B0;
    cursor: pointer;
}

.register-btn2 {
    width: 30%;
    height: 35px;
    text-align: center;
    border-bottom: 6px solid #000;
    color: black;
    cursor: default;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 150px;
}

.form-control {
    width: 100%;
}

.firstName {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    
}

.firstName-error {
    color: red;
    margin-left: 140px;
    font-family: Lato;
   text-align: center;
}

.firstName-error-styling {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid red;
    
}

.lastName {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    
}

.lastName-error {
    color: red;
    margin-left: 140px;
    font-family: Lato;
   text-align: center;
}

.lastName-error-styling {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid red;
    
}

.emailAddress {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
}

.email-error-styling {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid red;
}

.email-error {
    color: red;
    margin-left: 140px;
    font-family: Lato;
   text-align: center;
}


.password-register {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
}

.password-error-styling {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    border: 1px solid red;
}

.confirm-password {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    margin-bottom: 20px;
}

.confirm-password-error {
    width: 182.8%;
    padding: 17px;
    margin-bottom: 10px;
    border: 1px solid #D3D3D3;
    margin-bottom: 20px;
    border: 1px solid red;
}

.password-error {
    color: red;
    margin-left: 140px;
    font-family: Lato;
   text-align: center;
}

.register-btn {
    margin-top: 20px;
    margin-left: 150px;
    width: 61%;
    padding: 17px;
    margin-bottom: 25px;
    outline: none;
    border: 1px solid black;
    background-color: black;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-family: Lato;
    text-transform: uppercase;
    font-weight: 700;
}

