

.footer-secondary {
    display: flex;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
     font-size: 17px;
     padding: 10px;
     align-items: center;
     justify-content: space-between;
     border-top: 1px solid rgb(48, 48, 48);
}

.footer-secondary li {
    margin-right: 15px;
}

.footer-secondary li a {
    color: grey;
    text-decoration: none;
}

.Currency-Btn {
    margin-right: 20px;
    padding: 10px 24px;
    border-radius: 30px;
    border: 1.5px solid rgb(48, 48, 48);
    color: grey;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    font-family: Lato;
    outline: none;
}


.footer-secondary2 {
    display: flex;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
     font-size: 17px;
     padding: 10px;
     align-items: center;
     justify-content: space-between;
}

.footer-secondary2 li {
    margin-right: 15px;
}

.footer-secondary2 li a {
    color: grey;
    text-decoration: none;
}

.footer-secondary3 {
    display: flex;
    list-style-type: none;
    font-family: 'Lato', sans-serif;
     font-size: 17px;
     padding: 10px;
     align-items: center;
     justify-content: space-between;
}

.footer-secondary3 li {
    margin-right: 15px;
}

.footer-secondary3 li a {
    color: grey;
    text-decoration: none;
}


@media (max-width: 600px) {
    .footer-secondary {
        flex-direction: column;
    }
  .footer-secondary h1 {
    font-size: 12px!important;
  }
}
