.info-container {
    display: flex;
    justify-content: center;
    max-width: 70vw;
    vertical-align: top;
    margin: auto;
    background-color: #fff;
}

.info-container2 {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    padding: 1rem;
}

.info-img {
    width: 600px;
    height: 400px;
}

.super-container {
    background-color: #fff;
    margin-top: 10px;
    display: flex;;
}

.info-h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    margin-top: 35px ;
}

.info-p {
font-family: Lato;
font-size: 0.9rem;
color: grey;
margin-top: 30px;
height: 50px;
}

.info-link {
color: black;
font-family: Lato;
margin-top: 60px;
}

@media (max-width: 1300px ) {
    .info-container {
        flex-direction: column;
        max-width: inherit;
    }

    .info-p {
        height: 0px;
        margin-top: 10px;
    }

     
}

@media (max-width: 670px ) {
.info-img {
    width: 500px;
    height: 350px;
    margin: 0 auto;
}

.info-h1, .info-p, .info-link {
    margin: 0 auto;
}

.info-link {
    padding-top: 60px;
}

.info-h1 {
    padding-top: 35px ;
}

.info-p {
    padding-top: 10px ;
}

     
}

@media (max-width: 560px ) {
    .info-img {
        width: 400px;
        height: 300px;
    }   

}

@media (max-width: 450px ) {
    .info-img {
        width: 300px;
        height: 250px;
    }   
}

@media (max-width: 350px ) {
    .info-img {
        width: 250px;
        height: 200px;
    }   
}

@media (max-width: 280px ) {
    .info-img {
        width: 230px;
        height: 200px;
    }   
}